.AddVacation {
  position: relative;
}

.AddVacation > .Close {
  position: absolute;
  top: 0;
  right: 1px;
}

.AddVacation .DateError {
  color: #d32f2f;
  font-family: Arial;
  font-size: 0.75rem;
  text-align: left;
  margin-left: 16px;
}

.AddVacation .Preview {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.AddVacation .Preview > img {
  border-radius: 10px;
}

.AddVacation .Preview ~ div {
  color: #d32f2f;
  font-family: Arial;
  font-size: 0.75rem;
}