.VacationList > .AdminButtons {
  position: absolute;
  top: 80px;
  text-decoration: none;
  z-index: 5;
}

.VacationList > .AdminButtons > a {
  margin: 0 5px;
}

.VacationList > .Checkbox {
  position: absolute;
  color: #d500f9;
  top: 80px;
  left: 20px;
  z-index: 5;
}

.VacationList .Spinner {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, 0);
}

.VacationList .Center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.VacationList .Pagination {
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translate(-50%, 0);
}

.css-19micn4-MuiButtonBase-root-MuiPaginationItem-root {
  color: white !important;
}