html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  color: black;
  font-family: MagicTripFont;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow-x: hidden;
}

@font-face {
  src: url('./Assets/Fonts/OriginalSurfer-Regular.ttf');
  font-family: MagicTripFont;
}

a {
  color: indigo;
  cursor: pointer;
}

form {
  width: 20vw;
  margin: 0 30px 10px 30px;
}

 form > .TextBox {
  width: 100%;
  margin: 5px 0;
}

.Box {
  display: inline-block;
  border: 1px solid black;
  margin: 5px;
  background-image: linear-gradient(90deg, gray, white);
  border-radius: 10px;
  overflow: auto;
  color: black;
  z-index: 5;
}

.Title {
  font-size: 6vh;
  font-weight: bold;
}

/* width */
::-webkit-scrollbar {
  position: relative;
  width: 10px;
  z-index: 5;
}

/* Track */
::-webkit-scrollbar-track {
  position: relative;
  box-shadow: inset 0 0 5px magenta; 
  border-radius: 10px;
  z-index: 5;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  position: relative;
  background-image: linear-gradient(45deg, violet, indigo, red); 
  border-radius: 10px;
  z-index: 5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  position: relative;
  background-image: linear-gradient(45deg, red, indigo, violet);
  z-index: 5;
}
