.EditVacation {
  position: relative;
}

.EditVacation > .Close {
  position: absolute;
  top: 10px;
  right: 10px;
}

.EditVacation .DateError {
  color: #d32f2f;
  font-family: Arial;
  font-size: 0.75rem;
  text-align: left;
  margin-left: 16px;
}

.EditVacation .Preview {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.EditVacation .Preview > img {
  border-radius: 10px;
}